@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* background-color: #f4f3ea; */
}

html {
  background-color: #f4f3ea;
}

body {
  background-color: #f4f3ea;
  margin: auto;
}

.top-bar {
  background-color: #f48c4c;
  margin: auto;
}

#bright-hover:hover {
  background-color: #f59b64;
  color: inherit;
}

h1 {
  padding: 1rem;
}

h3 {
  padding: 1rem;
}

.container {
  text-align: center;
  padding: 2rem;
}

.todo-item {
  font-size: xx-large;
}