@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #73A580;
  margin: auto;
}

.top-bar {
  text-align: center;
  background-color: #507255;
}

h1 {
  padding: 1rem;
}

h3 {
  padding: 1rem;
}

.container {
  background-color: #73A580;
  text-align: center;
  padding: 2rem;
}

.todo-item {
  font-size: xx-large;
}