@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #f4f3ea;
}

.top-bar {
  background-color: #f48c4c;
  margin: auto;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#bright-hover:hover {
  background-color: #f59b64;
  color: inherit;
}

h1 {
  padding: 2rem;
}

h3 {
  padding: 1.5rem;
}

h4 {
  padding-top: 1.5rem;
}

.todolist-container {
  text-align: center;
  padding: 2rem;
}

.form-container {
  text-align: center;
  padding: 0.25rem;
}

.todo-item {
  font-size: xx-large;
}

.small-todo-item {
  font-size: large;
}

.column-container {
  background-color: #f59b64;
  border-radius: 5px;
  margin: 1.5rem;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.textarea-container {
  border-radius: 5px;
  margin: 1.5rem;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.todo-item-list {
  margin: 1.5rem;
}

.todo-item-form {
  display: grid;
  text-align: center;
  margin: 1.5rem;
  padding: 1rem;
}

.span-spacing {
  margin: 0.5rem;
}

.narrow-select {
  margin: 0rem 10rem 0rem;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.narrow-button {
  margin: 0rem 10rem 0rem;
}

.bottom-button-space {
  padding-bottom: 1.5rem;
}